body {
  font-family: sans-serif;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}
form label, input, button, select {
  display: block;
  margin-bottom: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
}
tr.cheapest {
  background-color: #d4fcd4;
}
